beautifulsoup4
certifi
cmdstanpy
GoogleNews
langchain
langchain_core
langchain_google_genai
langchain_groq
langgraph
matplotlib
newspaper3k
numpy
pandas
praw
prophet
pydantic
Requests
scikit_learn
streamlit
transformers
yfinance
lxml
jsonschema
lxml_html_clean
requests
groq
langchain-groq
torch
